<div>
    <h2>Dues Splitting</h2>
    <div class="content">
        <div class="text">
            <p>
                Even though locals need financial resources from the national organizations, simple dues splitting is not the way to do it. Resolution 31 allocates 10% of DSA's revenue (which is normally equivalent to 20% of dues) to a chapter grant system that gives money to locals based on need, rather than size. This is a step in the right direction to ensure that all DSA locals recieve the support they need. Sometimes a small chapter needs to run a big campaign, and its our responsibility as fellow DSA members to make sure they have a fighting chance.
            </p>
        </div>
    </div>
</div>

<div>
    <h2>Role of the NPC</h2>
    <div class="content">
        <div class="text">
            <p>
            </p>
        </div>
    </div>
</div>

<div>
    <h2>Sub-national Autonomy</h2>
    <div class="content">
        <div class="text">
            <p>
            </p>
        </div>
    </div>
</div>

