<div>
    <h2>Democracy from the Bottom Up</h2>
    <div class="content">
        <div class="text">
            <p>
                As a member of the DSA's <a href="http://dsa-lsc.org">Libertarian Socialist Caucus</a>, I believe that true democracy is more than elections and institutions. I want the NPC to become just one of many places for DSA members to turn to when seeking assistance. One of the best tools for this already enabled by DSA's constitution are state and regional organizations. I envision a future where we have 50 state organizations that act as the first choice for chapters seeking advice, assistance, or mentorship.
            </p>
            <p>
                However, the creation of these organizations must be driven by the locals, not by NPC decree. Amendment 15, which replaces state organizations with "communications councils", is a step in the wrong direction. Trying to engender solidarity between locals with a state organization is like building a skyscraper without laying a foundation. Rather, it is the the bonds formed between those locals that provides a strong base for a state-wide organization. Instead of replacing a useful tool in DSA's belt with a national-state communication mechanism, I suupport improving the communication channels between national and locals, and national and individual members through systems like the membership petition mechanism described in Amendment 9.
            </p>
        </div>
    </div>
</div>

<div>
    <h2>A Fighting Chance for Small Chapters</h2>
    <div class="content">
        <div class="text">
            <p>
                The 80/20 dues split proposal, while intended to help small chapters, would be an unprecendented disaster. A local like Boulder would only recieve several hundred dollars each year under a simple dues splitting system and would lose a disproportionate amount of national support in the process. A need-based grant system, such as the one proposed in Resolution 31, would be a far better way to ensure that all chapters recieve the resources they need. A grant system also forces chapters to be reliant on local fundraising for small expenses; an incredibly important skill to develop and a way for DSA to bring in more money in the long term than just raising dues to pay for a large split.
            </p>
            <p>
                Forming a new chapter is an incredibly stressful endeavor. In addition to recruiting members and holding engaging meetings, one also has to interact with the confusing national structure. If we fully embrace democracy from the bottom up, state and regional organizations could act as the first contacts for newly-formed organizing committees. They have the advantage of understanding the local issues and political climate, and can send organizers to help nascent chapters far more easily than national can.
        </div>
    </div>
</div>

<div>
    <h2>Getting the Work Done</h2>
    <div class="content">
        <div class="text">
            <p>
                Contrary to the name, the NPC is a largely apolitical body. The majority of an NPC member's duties are approving new chapters and assisting chapters and working groups. As multiple current and former NPC members have said, capacity for administrative work is what makes a strong NPC member. I'm running for NPC not to push any ideological viewpoint or strategy onto my fellow comrades, but because I have that capacity.
            </p>
            <p>
                In the last six months, I have dedicated a large portion of my time to the smooth functioning of the Boulder local: wrangling coalitions, standardizing our communications, fundraising, setting up tabling, and arranging/running meetings (just to name a few!). Now that our chapter is running smoothly and attracting a wide range of enthusiastic organizers, I'm excited to devote my time and skills to improving DSA nationally.
            </p>
        </div>
    </div>
</div>